@import "common";
@import "utils";

#the-team {
  @include section($light-grey);

  .person {
    img {
      @include retina-image(200px, false);
      border-radius: 50em;
    }

    h3 {
      margin-top: 1rem;
    }

    h4 {
      margin-top: 0;
      margin-bottom: .5rem;
      color: $grey;
      font-weight: normal;
    }

    @media #{$small-only} {
      margin-top: 1rem;
    }

    a {
      color: $grey;

      &:hover {
        color: black;
      }
    }

    i {
      font-size: 1.5rem;
      vertical-align: middle;
    }
  }
}
